- content_for :splash do
  %dl.accordion{:data => {'accordion' => true}} 
    %dd
      %a{id: "delivery-car", href: "#panel1"}
        .row
          .large-12.columns
            Международные автомобильные грузоперевозки
      #panel1.content
        .row
          .large-3.columns
            %h3
              %strong
                Best expedited cargo services! 
          .large-6.columns
            %p
              Наша компания «Союз» ставит перед собой задачи быстрой и качественной доставки грузов из стран Европы, Казахстана, Китая в любой регион Российской Федерации Казахстана. Наши специалисты обладают огромным опытом в сфере грузоперевозок, что позволяет нашей компании максимально сократить временные и материальные затраты наших клиентов. 
          .large-1.columns.border
            &nbsp;
          .large-2.columns
            %h5
              %a
                Подробнее >
    %dd
      %a{id: "delivery-air", href: "#panel2"}
        .row
          .large12.columns
            Авиаперевозки грузов
      #panel2.content
        .row
          .large-3.columns
            %h3
              %strong
                Best expedited cargo services! 
          .large-6.columns
            %p
              В настоящее время авиаперевозки грузов становятся все более популярными в среде бизнеса благодаря высокой скорости транспортировки. Авиаперевозка грузов значительно экономит денежные средства, несмотря на высокую стоимость таких услуг. Почему? Согласно известной формуле: деньги - время. То есть чем быстрее будет осуществлена доставка партии грузов, тем быстрее она будет использована для продажи, или изготовления другой продукции. 
          .large-1.columns.border
            &nbsp;
          .large-2.columns
            %h5
              %a
                Подробнее >
    %dd
      %a{id: "delivery-rail", href: "#panel3"}
        .row
          .large12.columns
            Перевозки грузов железнодорожным транспортом
      #panel3.content
        .row
          .large-3.columns
            %h3
              %strong
                Best expedited cargo services! 
          .large-6.columns
            %p
              Компания «Союз» осуществляет перевозки грузов и железнодорожным транспортом. Это один из самых старых и проверенных способов перевозки грузов. Особенности таких перевозок обозначены минимизацией риска порчи и утраты груза, ведь, железнодорожный транспорт – один из самых надежных транспортов – он не тонет, не падает с неба и не сходит с пути.
          .large-1.columns.border
            &nbsp;
          .large-2.columns
            %h5
              %a
                Подробнее >
    %dd
      %a{id: "delivery-ocean", href: "#panel4"}
        .row
          .large12.columns
            Контейнерные морские перевозки        
      #panel4.content
        .row
          .large-3.columns
            %h3
              %strong
                Best expedited cargo services! 
          .large-6.columns
            %p
              В связи с тем, что в последнее время появляются новые отрасли и направления коммерческой деятельности, которые связаны с доставкой грузов и товаров в различные точки земного шара, всё большее значение приобретают контейнерные морские перевозки, которые имеют ряд преимуществ перед остальными видами грузоперевозок.
          .large-1.columns.border
            &nbsp;
          .large-2.columns
            %h5
              %a
                Подробнее >
