%footer.main
  %div.row
    %div.large-12.columns
      %h5
        <strong>Our Process:</strong> 1. You Call - 2. We Arrange the Pickup - 3. We Contact You When Delivery Is Completed
      %hr
  %div.row
    %div.large-6.columns
      %p
        SOYUZ © 2008–2013  All rights reserved.
    %div.large-6.columns
      %ul.inline-list
        %li
          %a
            FACEBOOK
        %li
          %a
            VKONTAKTE
        %li
          %a
            TWITTER
      
