%footer.main
  %div.row
    %div.large-12.columns
      %h5
        <strong>Как мы работаем:</strong> 1. Вы звоните нам - 2. Мы организуем забор груза - 3. Мы сообщаем вам о завершении доставки
      %hr
  %div.row
    %div.large-6.columns
      %p
        SOYUZ © 2008–2013  All rights reserved.
    %div.large-3.columns
      %p 
        = link_to "Sign up", new_user_path
    %div.large-3.columns
      %ul.inline-list.right
        %li
          %a{href: "http://lianzhong3688.1688.com/"} ALIBABA
